In [1]:
import pandas as pd 
import time
import matplotlib.pyplot as plt
import datetime
import plotly.express as px

In [2]:
t0 = time.time()
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
print(f'It took {time.time() - t0} secons to load')

It took 0.25308680534362793 secons to load

In [3]:
len(df['Country/Region'].unique())

192

In [4]:
df.shape

(274, 460)

In [5]:
df.tail(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/12/21,4/13/21,4/14/21,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21
254,Bermuda,United Kingdom,32.307800,-64.750500,0,0,0,0,0,0,...,1891,1912,1935,2023,2060,2123,2123,2214,2214,2226
255,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,178,178,178,178,187,187,187,187,187,194
256,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,516,523,523,523,525,525,525,525,531,531
257,Channel Islands,United Kingdom,49.372300,-2.364400,0,0,0,0,0,0,...,4051,4053,4053,4053,4053,4053,4053,4053,4053,4055
258,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,0,0,0,0,0,0,...,60,60,62,62,62,62,62,62,62,62
259,Gibraltar,United Kingdom,36.140800,-5.353600,0,0,0,0,0,0,...,4277,4277,4290,4290,4291,4291,4291,4291,4291,4291
260,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,1574,1575,1575,1575,1575,1575,1577,1577,1577,1582
261,Montserrat,United Kingdom,16.742498,-62.187366,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
262,"Saint Helena, Ascension and Tristan da Cunha",United Kingdom,-7.946700,-14.355900,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,2357,2360,2360,2367,2369,2369,2369,2369,2369,2371
264,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,4373343,4375814,4378305,4380976,4383732,4385938,4387820,4390783,4393307,4395703
265,NaN,Uruguay,-32.522800,-55.765800,0,0,0,0,0,0,...,147173,149430,152089,156499,159569,162400,164744,167033,169327,172601
266,NaN,Uzbekistan,41.377491,64.585262,0,0,0,0,0,0,...,85114,85291,85503,85730,86022,86338,86680,86982,87225,87551
267,NaN,Vanuatu,-15.376700,166.959200,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,4
268,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,175812,176972,178094,179365,180609,181903,183190,184595,185736,186745
269,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,2705,2714,2733,2758,2772,2781,2785,2791,2800,2812
270,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,270856,272767,274690,276407,278135,279753,280741,282270,284280,286028
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,5446,5507,5582,5657,5715,5770,5812,5858,5918,5960
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,90064,90218,90389,90532,90750,90844,90918,90942,91042,91119
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,37307,37330,37369,37422,37534,37699,37751,37859,37875,37980

In [10]:
# 
t0 = time.time()
df = df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Confirmed')
print(f'It took {time.time() - t0} secons to reshape')

It took 0.04071307182312012 secons to reshape

In [11]:
df.tail(100)

,Province/State,Country/Region,Lat,Long,Date,Confirmed
124844,NaN,Malaysia,4.210484,101.975766,4/21/21,381813
124845,NaN,Maldives,3.202800,73.220700,4/21/21,26920
124846,NaN,Mali,17.570692,-3.996166,4/21/21,13336
124847,NaN,Malta,35.937500,14.375400,4/21/21,30063
124848,NaN,Marshall Islands,7.131500,171.184500,4/21/21,4
...,...,...,...,...,...,...
124939,NaN,Vietnam,14.058324,108.277199,4/21/21,2812
124940,NaN,West Bank and Gaza,31.952200,35.233200,4/21/21,286028
124941,NaN,Yemen,15.552727,48.516388,4/21/21,5960
124942,NaN,Zambia,-13.133897,27.849332,4/21/21,91119
124943,NaN,Zimbabwe,-19.015438,29.154857,4/21/21,37980

In [12]:
df.shape

(124944, 6)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124944 entries, 0 to 124943
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  38760 non-null   object
 1   Country/Region  124944 non-null  object
 2   Lat             124488 non-null  float64
 3   Long            124488 non-null  float64
 4   Date            124944 non-null  object
 5   Confirmed       124944 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.7+ MB

In [14]:
# Rename Country/Region to Contry
df = df.rename(columns={'Country/Region': 'Country'})

In [15]:
len(df['Country'].unique())

192

In [16]:
df['Date'] = [datetime.datetime.strptime(d,"%m/%d/%y").date() for d in df['Date']]

In [17]:
df = df.groupby(['Date', 'Country'], as_index=False)['Confirmed'].sum()

In [18]:
df.head()

         Date      Country  Confirmed
0  2020-01-22  Afghanistan          0
1  2020-01-22      Albania          0
2  2020-01-22      Algeria          0
3  2020-01-22      Andorra          0
4  2020-01-22       Angola          0

In [ ]:
# List all contry regions
len(df['Country'].unique())

In [ ]:
df[df['Country'] == 'Diamond Princess']

In [25]:
df.loc[df['Country'] == 'Diamond Princess']

             Date           Country  Confirmed
48     2020-01-22  Diamond Princess          0
240    2020-01-23  Diamond Princess          0
432    2020-01-24  Diamond Princess          0
624    2020-01-25  Diamond Princess          0
816    2020-01-26  Diamond Princess          0
...           ...               ...        ...
86640  2021-04-17  Diamond Princess        712
86832  2021-04-18  Diamond Princess        712
87024  2021-04-19  Diamond Princess        712
87216  2021-04-20  Diamond Princess        712
87408  2021-04-21  Diamond Princess        712

[456 rows x 3 columns]

In [26]:
mapdf = df.loc[df['Date'] == datetime.datetime.strptime('4/20/21',"%m/%d/%y").date()]

In [27]:
import pycountry

In [28]:
#mapdf.loc[df['Country']=='Albania']

In [29]:
list(pycountry.countries)[1]

Country(alpha_2='AF', alpha_3='AFG', name='Afghanistan', numeric='004', official_name='Islamic Republic of Afghanistan')

In [30]:
import country_converter as coco

In [31]:
iso3_codes = coco.convert(names=mapdf['Country'], to='ISO3', not_found=None)
print(iso3_codes)

Diamond Princess not found in regex
MS Zaandam not found in regex

['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ', 'BEN', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN', 'BGR', 'BFA', 'MMR', 'BDI', 'CPV', 'KHM', 'CMR', 'CAN', 'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COM', 'COG', 'COD', 'CRI', 'CIV', 'HRV', 'CUB', 'CYP', 'CZE', 'DNK', 'Diamond Princess', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'FJI', 'FIN', 'FRA', 'GAB', 'GMB', 'GEO', 'DEU', 'GHA', 'GRC', 'GRD', 'GTM', 'GIN', 'GNB', 'GUY', 'HTI', 'VAT', 'HND', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KOR', 'XKX', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX', 'MS Zaandam', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MRT', 'MUS', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE', 'MAR', 'MOZ', 'NAM', 'NPL', 'NLD', 'NZL', 'NIC', 'NER', 'NGA', 'MKD', 'NOR', 'OMN', 'PAK', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'QAT', 'ROU', 'RUS', 'RWA', 'KNA', 'LCA', 'VCT', 'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'SSD', 'ESP', 'LKA', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TTO', 'TUN', 'TUR', 'USA', 'UGA', 'UKR', 'ARE', 'GBR', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'PSE', 'YEM', 'ZMB', 'ZWE']

In [32]:
len(iso3_codes)

192

In [33]:
len(mapdf['Country'].unique())

192

In [34]:
mapdf.reset_index()

     index        Date             Country  Confirmed
0    87168  2021-04-20         Afghanistan      58037
1    87169  2021-04-20             Albania     129842
2    87170  2021-04-20             Algeria     119992
3    87171  2021-04-20             Andorra      12874
4    87172  2021-04-20              Angola      24661
..     ...         ...                 ...        ...
187  87355  2021-04-20             Vietnam       2800
188  87356  2021-04-20  West Bank and Gaza     284280
189  87357  2021-04-20               Yemen       5918
190  87358  2021-04-20              Zambia      91042
191  87359  2021-04-20            Zimbabwe      37875

[192 rows x 4 columns]

In [35]:
mapdf[mapdf['Country'] == 'Canada']

             Date Country  Confirmed
87200  2021-04-20  Canada    1146817

In [36]:
mapp = mapdf.copy()
mapp.iloc[0]['Alpha_3'] = 'AFG'

<ipython-input-36-ba6c835cff05>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mapp.iloc[0]['Alpha_3'] = 'AFG'
/Users/oscarandersson/Documents/skola/pa1450_pvu/env/lib/python3.9/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [37]:
mapdf.head()

             Date      Country  Confirmed
87168  2021-04-20  Afghanistan      58037
87169  2021-04-20      Albania     129842
87170  2021-04-20      Algeria     119992
87171  2021-04-20      Andorra      12874
87172  2021-04-20       Angola      24661

In [38]:
country_codes = []
for country_object in list(pycountry.countries):
    for country_name in mapdf['Country']:
        if country_object.name == country_name:
            country_codes.append(country_object.alpha_3)
        else:
            country_codes.append('does not exists')

In [39]:
country_codes

['does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'AFG',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'AGO',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'ALB',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 'does not exists',
 ...]

In [40]:
len(country_codes)

47808

In [43]:
test = country_name_to_country_alpha3(mapdf['Country'], cn_name_format="default")

NameError: name 'country_name_to_country_alpha3' is not defined

In [ ]:
def get_data_from_country(country):
    return df.loc[df['Country'] == country]

In [ ]:
sweden = get_data_from_country('Sweden')

In [ ]:
sweden.head()

In [ ]:
start_date = list(sweden['Date'])[100]
end_date = list(sweden['Date'])[-1]
print(start_date)
print(end_date)
print(type(start_date))
print(type(end_date))

In [ ]:
sweden[(sweden['Date'] > datetime.datetime.strptime('', "%Y-%m-%d").date()) & (sweden['Date'] <= datetime.datetime.strptime('2021-04-17', "%Y-%m-%d").date())]

In [ ]:
# Plotly can take the whole dataframe as an argument!
px.line(sweden, x='Date', y='Confirmed')