In [1]:
import pandas as pd 
import time
import matplotlib.pyplot as plt
import datetime
import plotly.express as px

In [2]:
t0 = time.time()
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
print(f'It took {time.time() - t0} secons to load')

It took 0.20132184028625488 secons to load

In [3]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/21,4/12/21,4/13/21,4/14/21,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,57160,57242,57364,57492,57534,57612,57721,57793,57898,58037
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,128393,128518,128752,128959,129128,129307,129456,129594,129694,129842
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,118516,118645,118799,118975,119142,119323,119486,119642,119805,119992
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,12545,12581,12614,12641,12641,12712,12771,12805,12805,12874
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,23457,23549,23697,23841,23951,24122,24300,24389,24518,24661

In [4]:
df.shape

(274, 459)

In [5]:
# 
t0 = time.time()
df = df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Confirmed')
print(f'It took {time.time() - t0} secons to reshape')

It took 0.0238950252532959 secons to reshape

In [6]:
df.tail(100)

,Province/State,Country/Region,Lat,Long,Date,Confirmed
124570,NaN,Malaysia,4.210484,101.975766,4/20/21,379473
124571,NaN,Maldives,3.202800,73.220700,4/20/21,26667
124572,NaN,Mali,17.570692,-3.996166,4/20/21,13246
124573,NaN,Malta,35.937500,14.375400,4/20/21,30039
124574,NaN,Marshall Islands,7.131500,171.184500,4/20/21,4
...,...,...,...,...,...,...
124665,NaN,Vietnam,14.058324,108.277199,4/20/21,2800
124666,NaN,West Bank and Gaza,31.952200,35.233200,4/20/21,284280
124667,NaN,Yemen,15.552727,48.516388,4/20/21,5918
124668,NaN,Zambia,-13.133897,27.849332,4/20/21,91042
124669,NaN,Zimbabwe,-19.015438,29.154857,4/20/21,37875

In [7]:
df.shape

(124670, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124670 entries, 0 to 124669
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  38675 non-null   object
 1   Country/Region  124670 non-null  object
 2   Lat             124215 non-null  float64
 3   Long            124215 non-null  float64
 4   Date            124670 non-null  object
 5   Confirmed       124670 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.7+ MB

In [9]:
# Rename Country/Region to Contry
df = df.rename(columns={'Country/Region': 'Country'})

In [10]:
df['Date'] = [datetime.datetime.strptime(d,"%m/%d/%y").date() for d in df['Date']]

In [11]:
df.head()

  Province/State      Country       Lat       Long        Date  Confirmed
0            NaN  Afghanistan  33.93911  67.709953  2020-01-22          0
1            NaN      Albania  41.15330  20.168300  2020-01-22          0
2            NaN      Algeria  28.03390   1.659600  2020-01-22          0
3            NaN      Andorra  42.50630   1.521800  2020-01-22          0
4            NaN       Angola -11.20270  17.873900  2020-01-22          0

In [12]:
df = df.groupby(['Date', 'Country'], as_index=False)['Confirmed'].sum()

In [13]:
df.head()

         Date      Country  Confirmed
0  2020-01-22  Afghanistan          0
1  2020-01-22      Albania          0
2  2020-01-22      Algeria          0
3  2020-01-22      Andorra          0
4  2020-01-22       Angola          0

In [15]:
df.shape

(87360, 3)

In [16]:
# List all contry regions
len(df['Country'].unique())

192

In [17]:
df.loc[df['Country'] == 'Sweden']

             Date Country  Confirmed
166    2020-01-22  Sweden          0
358    2020-01-23  Sweden          0
550    2020-01-24  Sweden          0
742    2020-01-25  Sweden          0
934    2020-01-26  Sweden          0
...           ...     ...        ...
86566  2021-04-16  Sweden     900138
86758  2021-04-17  Sweden     900138
86950  2021-04-18  Sweden     900138
87142  2021-04-19  Sweden     900138
87334  2021-04-20  Sweden     916830

[455 rows x 3 columns]

In [ ]:
def get_data_from_country(country):
    return df.loc[df['Country'] == country]

In [ ]:
sweden = get_data_from_country('Sweden')

In [ ]:
sweden.head()

In [ ]:
start_date = list(sweden['Date'])[100]
end_date = list(sweden['Date'])[-1]
print(start_date)
print(end_date)
print(type(start_date))
print(type(end_date))

In [ ]:
sweden[(sweden['Date'] > datetime.datetime.strptime('2020-05-01', "%Y-%m-%d").date()) & (sweden['Date'] <= datetime.datetime.strptime('2021-04-17', "%Y-%m-%d").date())]

In [ ]:
# Plotly can take the whole dataframe as an argument!
px.line(sweden, x='Date', y='Confirmed')